.container {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 9, 139);
}

.container > a {
  text-decoration: none;
  margin: 40px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.activeL{
    color: red;
}
