.container{
  overflow-x: hidden;
}
#loading {
  margin-left: 49%;
  margin-top: 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 10px solid rgb(112, 116, 112);
  border-radius: 50%;
  border-top-color: rgb(36, 33, 33);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
